<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Pic Wall</title>
    <script src="/lib/jQuery.2.2.1.js"></script>
    <script src="/lib/masonry-layout.4.0.0.js"></script>
    <script src="/lib/imagesLoaded.4.1.0.js"></script>
    <script src="/lib/bootstrap.3.3.6.js"></script>
    <link href="/lib/bootstrap.3.3.6.css" rel="stylesheet">
    <link href="/lib/pic-wall-responsive.css" rel="stylesheet">
  </head>
  <body>
  <div class="container">
    </form>
    <div class="grid">
      <div class="grid-sizer"></div>
    </div>
  </div>
  <script src="/javascripts/pic-wall-main.js"></script>
  </body>
</html>

